<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
        <img src="{{siteRootPath}}/_/img/rinna-logo.png" alt="Rinna" height="40">
      </a>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://github.com/heymumford/Rinna">Rinna on GitHub</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>